#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logo {
    text-align: center;
    margin-bottom: 20px;
    animation: spin 2s linear infinite;
  }
  
  #logo img {
    max-width: 200px;
    height: auto;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .carousel-caption{
    color: #fff;
    top: 40%;
  }

.bg-image img{
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.vision,
.mision{
    width: 100%;
    height: 230px;
    padding: 20px;
    border: 3px solid;
    border-color: #A25742;
    border-radius: 10px;
    background-color: #fff;
}
.vision .vi-eye{
    font-size: 30px;
    color: #A25742;
    opacity: 20%;
}
.vision .d-flex i,
.mision .d-flex i{
    font-size: 25px;
    padding: 2px;
    padding-right: 5px;
}
.vision p{
    padding: 30px 0;
}
.Directors-Messages p{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}
.frame-1{
    width: 270px;
    height: 300px;
    background-color: white;
    border: 10px solid #A25742;
    float: right;
}
.anura{
    width: 380px;
    padding: 10px;
    box-shadow: 3px 5px 5px #b9b9b9;
    background-color: #fff;
    position: relative;
    right: 200px;
    top: 50px;
}
.anura h2{
    padding: 30px 10px;
    font-weight: bold;
}
.anura img{
    width: 150px;

}
.frame-2{
    width: 270px;
    height: 300px;
    background-color: white;
    border: 10px solid #A25742;
    float: left;
}
.nakajim{
    width: 360px;
    padding: 10px;
    box-shadow: 3px 5px 5px #b9b9b9;
    background-color: #fff;
    position: relative;
    right: -50px;
    top: 50px;
}
.nakajim h2{
    padding: 30px 20px;
    font-weight: bold;
}
.nakajim img{
    width: 150px;

}
.contact-1{
    height: auto;
}
.contact-1 .card{
    width: 300px;
    height: 350px;
    margin: 50px 10px;
    background-color: #fff;
    border: 10px solid #A25742;
    border-radius: 0%;
    text-align: center;
}
.contact-1 .card h4{
    margin-top: 50px;
}
.contact-1 .card i{
    font-size: 45px;
    margin-top: 40px;
}
.contact-1 .card p{
    font-size: 18px;
    font-weight: 400;
}

  .h-2{
    background-color: #A25742;
    color: #fff;
    align-items: center;
    text-align: center;
  }
  .h-2 .row{
    /* padding-top: 20px;
    padding-bottom: 10px; */
  }
  .h-2 hr{
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }
  .h-2 .row i{
    font-size: 55px;
    padding: 10px;
  }
  .h-2 p{
    font-weight: 400;
    padding: 10px;
  }
@media screen and (max-width: 600px){
    .mision{
        margin-top: 20px;
        height: auto;
    }
    .frame-1{
        width: 250px;
        height: 270px;
        background-color: white;
        border: 10px solid #A25742;
        float: right;
    }
    .anura{
        width: 300px;
        padding: 10px;
        box-shadow: 3px 5px 5px #b9b9b9;
        background-color: #fff;
        position: relative;
        right: 90px;
        top: 50px;
    }
    .anura h2{
        padding: 30px 10px;
        font-weight: bold;
    }
    .anura img{
        width: 120px;
    
    }
    .frame-2{
        width: 250px;
        height: 250px;
        background-color: white;
        border: 10px solid #A25742;
        float: left;
    }
    .nakajim{
        width: 300px;
        padding: 10px;
        box-shadow: 3px 5px 5px #b9b9b9;
        background-color: #fff;
        position: relative;
        right: -40px;
        top: 50px;
    }
    .nakajim h2{
        padding: 30px 20px;
        font-weight: bold;
    }
    .nakajim img{
        width: 120px;
    
    }

}
